

<h3 class="d-flex  justify-content-center">Crea un Servicio</h3>
<div class="mb-4 d-flex justify-content-center">
    <button type="button" class="btn btn-dark" id="service-button">Nuevo Servicio </button>
</div >
<div style="display: none;" id="service-form"> 
    <div class="mt-4 mb-4" >
        <%= render '/services/form2', service: @service %>
    </div>
</div>



