// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#collaborator-form{
    display: none;

}

#client-form{
    display: none;
}

// .new-button{
//     border-radius: 25px;
//     border: 2px solid #73AD21;
//     padding: 20px;
//     width: 200px;
//     height: 150px;
//     margin: auto;
//     border-color: #6c757d;
// }

#carouselExampleControls{
    width: 70%;
    margin: auto;
    
}

.carousel-control-prev{
    margin-left: -150px;
    margin-top: 400px;
    height: 80px;
    background-color: rgb(128, 128, 128);
    text-decoration: none;
    border-radius: 25%;
}
.carousel-control-next{
    margin-right: -150px;
    height: 80px;
    margin-top: 400px;
    background-color: rgb(128, 128, 128);
    text-decoration: none;
    border-radius: 25%;

}

.carousel-control-prev:hover{
    background-color: black;
}

.carousel-control-next:hover{
    background-color: black;
}

.sr-only{
    color: white;
   
}
.colab-table{
    margin: auto;
}


.hiddentable{
    display: none;
}

.hiddenh1{
    display: none;
}